<form action="/" method="post">
    <fieldset>
        <h4>Book a smartzone</h4>
        <label for="smartzones">Select the smartzone</label>
        <select required id="smartzones" name="smartzoneId">
            <% smartzones.forEach(smartzone=> { %>
                <option value="<%= smartzone.id %>" 
                    <% if (smartzone.id == selectedSmartzoneId) { %>
                        selected 
                    <% } %>
                >
                    <%= smartzone.name %>
                </option>
                <% }) %>    
        </select>

        <label for="author">Name</label>
        <input required id="author" name="author">

        <label for="dateStart">Begin date</label>
        <input required id="dateStart" type="date" name="dateStart" min="<%= new Date().toISOString().split('T')[0] %>"
            <% if (time=="now" ) { %>
                value="<%= new Date().toISOString().split('T')[0] %>"
            <% } %>
        >

        <label for="dateEnd">End date</label>
        <input required id="dateEnd" type="date" name="dateEnd" min="<%= new Date().toISOString().split('T')[0] %>"
            <% if (time == "now") { %>
                value="<%= new Date().toISOString().split('T')[0] %>"
            <% } %>
        >

        <label for="timeStart">Begin time</label>
        <input required type="time" id="timeStart" name="timeStart">

        <label for="timeEnd">End time</label>
        <input required type="time" id="timeEnd" name="timeEnd">

        <button type="submit" value="submit" >Submit</button>


    </fieldset>
</form>