<%- include("./partials/head.ejs") %>

<%- include("./partials/summary.ejs") %>

<form action="" method="post">
    <fieldset>
        <label for="smartzones">Select the smartzone</label>
        <select required id="smartzones" name="smartzone">
            <% smartzones.smartzones.forEach(smartzone => { %>
                <option value="<%= smartzone.id %>"><%= smartzone.name %></option>
            <% }) %>
        </select>

        <label for="author">Name</label>
        <input required id="author"></input>

        <label for="timeStart">Begin time</label>
        <input required type="timeStart" id="time"></input>

        <label for="timeEnd">End time</label>
        <input required type="timeEnd" id="time"></input>

        <input type="submit" value="submit" />
        
        
    
    </fieldset>
</form>

<%- include("./partials/nav.ejs") %>

<%- include("./partials/foot.ejs") %>

